.container {
  height: 100vh;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: no-wrap;
  border: solid 4px black;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  padding: 50px;
}
.presentation__img {
  height: 16rem;
  width: 16rem;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}
.presentation__img img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.presentation__img img:hover {
  width: 100%;
  transform: scale(1.08);
}
.presentation__text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.presentation__title {
  font-size: 3rem;
}
.presentation__p {
  font-size: 1.5rem;
}

.txtAnim {
  color: #689775;
}
